*.swp
*.html
*.json
!content/templates/*.html
content/templates/cleaned_*
content/config
content/main.js
content/main.css
content/main.min.js
content/main.min.css
content/templates/cleaned_write-up.md
de/*
en/*
sitemap.xml
