<!DOCTYPE html>
<html>

    <head lang="none">

        <!-- Technical Information -->
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- No caching -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />

        <meta name="author" content="0!authorX">
        <meta name="keywords" lang="none" content="0!keywordsX">
        <meta name="date" content="0x!#date#!0x" scheme="YYYY-MM-DD_hh:mm:ss">
        <meta name="description" content="0!descriptionX" />
        <meta name="robots" content="0!robotsX" />

        <!-- Facebook OG meta -->
        <meta property="og:title" content="0!titleX" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="0!base_urlX" />
        <meta property="og:site_name" content="rothirschtech" />
        <meta property=“og:description“ content="0!descriptionX" />

        <!-- Twitter OG meta -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="0!titleX" />
        <meta name="twitter:description" content="0!descriptionX" />
        <meta name="twitter:site" content="@rothirschtech" />
        <meta name="twitter:creator" content="@0!twitterauthorX" />

        <!-- Browser Color -->
        <meta name="theme-color" content="#222222" />

        <!-- BootStrapCss -->
        <link rel="stylesheet" type="text/css" href="content/bootstrap/3.3.7/dist/css/bootstrap.min.css">
        <!-- Rothirsch CSS -->
        <link rel="stylesheet" type="text/css" href="content/main.min.css">
        <!-- font awesome -->
        <link href="content/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <!-- Openstreetmap -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
         integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
         crossorigin=""/>

         <!-- Plausible analytics -->
         <script defer data-domain="rothirsch.tech" src="https://d26btudh3jktgxddfvt8p.rothirsch.tech/js/plausible.js"></script>

        <title>0!titleX</title>
        <link rel="icon" href="/content/images/icons/rothirschtech.ico" type="image/x-icon">

        <!-- Load javascript after document load -->
        <script type="text/javascript" src="content/jquery/jquery-3.6.0.min.js" defer></script>
        <script type="text/javascript" src="content/jquery/jquery.scrollbar.js" defer></script>
        <script type="text/javascript" src="content/bootstrap/3.3.7/dist/js/bootstrap.min.js" defer></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin="" defer></script>
        <script type="text/javascript" src="content/main.min.js" defer></script>

    </head>

    <body class='light-color'>

        <!-- Content -->
        <div id=text-outer class="single-post-content">
            <div id='cnt' class='light-color'>
              <div id=txt class="pages text">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9">

                      0!contentX

                      <div id=gitlink><p>0!gitLinkX</p></div>
                      <p id=author>Author:  <span id=authorname>0!authorX</span>
                      <br>Last Update: 0x!#dateshort#!0x
                      </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        0!menuX
                        <li><a class="special_menu light-color change_color" title="contact"><span class='dot light-color'></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </body>

</html>
