#blog-content {
  position:absolute;
  width:90%; height: auto;
  max-width: 1000px;
  left: 50%;
  transform: translate(-50%);
}

#blog-content .flex-container img {
  max-width: 200px;
}

.single-post-content  {
  width:100%!important;
}
@media screen
  and (orientation: portrait) {

  .single-post-content  {
    top:20px!important;
  }
  #blog-content .flex-container {
    flex-direction: column;
  }
}

#blog-content a {
  text-decoration: none;
  display: block;
  padding-left:5px;
  padding-right:5px;
  border-radius: 5px;
}
.dark-color #blog-content a:hover {
  background-color: #333!important;
}
.light-color #blog-content a:hover {
  background-color: #eee!important;
}

#blog-content .flex-container {
  display: flex;
  flex-wrap: nowrap;
}

#blog-content .flex-container > div {
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}
