#blog-content {
  position:absolute;
  width:90%; height: auto;
  max-width: 1000px;
  left: 50%;
  transform: translate(-50%);
  padding-bottom:100px;
}

.single-post-content  {
  width:100%!important;
}
.single-post-content blockquote,
.single-post-content code {
  text-align:left;
}
.single-post-content pre {
  overflow-x: scroll;
}
.single-post-content code {
  white-space: pre;

}
.single-post-content img {
  border-radius: 5px;
}

@media screen
  and (orientation: portrait) {

  .single-post-content  {
    top:20px!important;
    height:98%!important;
  }
  #blog-content .flex-container {
    flex-direction: column;
  }
}

#blog-content a {
  text-decoration: none;
  display: block;
  padding-left:5px;
  padding-right:5px;
  border-radius: 5px;
}
.dark-color #blog-content a:hover {
  background-color: #333!important;
}
.light-color #blog-content a:hover {
  background-color: #eee!important;
}

#blog-content .flex-container {
  display: flex;
  flex-wrap: nowrap;
}

#blog-content .flex-container > div {
  width: auto;
  margin: auto;
  text-align: center;
}

#blog-content .flex-container div:nth-of-type(1) {
  width: 200px; height: 200px;
  overflow: hidden; border-radius: 50%;
}
#blog-content .flex-container img {
  width: auto; height: 100%;
}
